*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    /* background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1..jpg);
    background-position: center;
    background-size: cover; */
}
li{
    list-style: none;
}
h1{
    color: orange;
}
a{
    text-decoration: none;
}
.btn{
    background: orange;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    color: orange;
    background: white;
    padding:3px 8px ;
    border: 2px solid black;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid black;
}
table{
    padding: 10px;
}
th,td{
    text-align: left;
    padding: 10px;
}
.side-menu{
    position: fixed;
     background:gray; 
    /* background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1..jpg);
    background-position: left; */
    background-size: cover;
    width: 18vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    font-size: 20px;
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}
/* .side-menu h1::first-letter{
    color:orangered;
} */
.side-menu li{
    font-size: 24px;
    padding: 10px 50px;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.side-menu li:hover{
    background: whitesmoke;
    color: orange;
}
.side-menu li img{
    width: 30px;
    height: 30px;
    
    
}

.container{
    position: absolute;
    width:82vw;
    right: 0;
    height: 100vh;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1..jpg);
    background-position: left;
    background-size: cover;

}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width:82vw ;
    height: 8vh;
    background:rgba(248, 247, 247, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    border: 1px solid orange;
    border-radius: 10px;
    background: transparent;
    padding: 10px;
    width:30vw ;
    color: white ;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    

}
.search input:hover{
    color: orange;
    background-color: white;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}
.search button:hover{
    background-color: white;
    

}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;

}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}
.container .content .group-card{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .group-card .card{
    width: 250px;
    height: 150px;
    background: transparent;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.container .content .group-card .card .icon-case img{
    width: 60px;
    height: 60px;
}
.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.container .content .content-2 .new-tutor{
    min-height: 50vh;
    flex: 5;
    color: white;
    background: transparent;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-user{
    flex: 2;
    color: white;
    min-height: 50vh;
    background: transparent;
    border: 3px solid black;
    margin: 0 25px 25px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-user table td img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
